.timerCont {
  width: 50%;
  margin: 0 auto 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .selectTimer {
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 7px;

    button {
      min-width: 50px;
      height: 40px;
      border: none;
      outline: 0;border-radius: 8px;
      background-color: transparent;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.2s ease, background-color 0.2s ease;;

      font-size: 20px;
      font-family: var(--main-font);
      color: var(--smoky-white-color);

      &:hover{
        transform: translateY(-1px);
      }


      &.selectedTimer {
        background-color: var(--smoky-blue-color);
      }
    }
  }

  .timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--main-font);
    color: var(--smoky-white-color);

    @keyframes pulse {
      0% { transform: scale(1); opacity: 1; }
      50% { transform: scale(1.08); opacity: 0.8; }
      100% { transform: scale(1); opacity: 1; }
    }

    &.ending {
      animation: pulse 1s ease 0s 10;
      color: var(--smoky-red-color);
    }
  }

  .resetButton {
    display: flex;
    flex-direction: row;
    max-width: 100px;
    width: 100%;
    align-items: center;
    justify-content: end;

    button {
      min-width: 50px;
      height: 40px;
      border: none;
      outline: 0;border-radius: 7px;
      background-color: transparent;
      padding: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 20px;
      font-family: var(--main-font);
      color: var(--smoky-white-color);
      will-change: transform;
      transition: transform 0.2s ease;

      &:hover{
        transform: translateY(-1px);
      }
    }
  }
}