@import 'variables.css';
@import 'fonts.css';
@import 'normalize.css';

body {
    min-height: 100vh;
    background-color: var(--graphit-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}