:root {
    /*colors*/
    --graphit-color: #1C1C1C;
    --smoky-white-color: #F5F5F5;
    --smoky-green-color: #47A76A;
    --smoky-red-color: #EE204D;


    /*fonts*/
    --main-font: 'Inconsolata', monospace;
}