:root {
    /*colors*/
    --graphit-color: #1C1C1C;
    --smoky-white-color: #F5F5F5;
    --smoky-blue-color: #4895ef;
    --smoky-red-color: #ef6c75;

    /*fonts*/
    --main-font: 'Inconsolata', monospace;
}