.spinner {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--main-font);
  font-size: 25px;
  line-height: normal;
  color: var(--smoky-white-color);
  user-select: none;

  margin: 0 auto;
  border: 4px solid var(--smoky-white-color);
  border-radius: 25%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}