.resultCont {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: blur-bg 0.5s forwards;

  .result {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    animation: fade-in 0.8s forwards;

    p {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      font-weight: 200;
      font-family: var(--main-font);
      color: var(--smoky-white-color);
    }
  }

  @keyframes blur-bg {
    from {
      backdrop-filter: blur(0px);
    }
    to {
      backdrop-filter: blur(5px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}