.keyboardContainer {
  margin: 0 auto;
  width: 50%;

  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;

    .spaceButton {
      max-width: 300px;
      width: 100%;
      height: 50px;
      border: 1px solid var(--smoky-white-color);
      border-radius: 3px;
      outline: 0;
      background-color: transparent;

      @keyframes pressAnimation {
        0% {
          transform: scale(1);
          background-color: transparent;
        }
        50% {
          transform: scale(0.98);
          background-color: var(--smoky-blue-color);
        }
        100% {
          transform: scale(1);
          background-color: transparent;
        }
      }

      &.buttonPress {
        animation: pressAnimation 0.3s forwards;
      }
    }

  }
}