.keyboardContainer {
  margin: 0 auto;

  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;

      button {
        max-width: 50px;
        width: 100%;
        height: 50px;
        border: 1px solid var(--smoky-white-color);
        border-radius: 3px;
        outline: 0;
        background-color: transparent;

        font-family: var(--main-font);
        font-size: 18px;
        font-weight: 300;
        line-height: normal;
        color: var(--smoky-white-color);

        @keyframes pressAnimation {
          0% {
            transform: scale(1);
            background-color: transparent;
          }
          50% {
            transform: scale(0.95);
            background-color: var(--smoky-blue-color);
          }
          100% {
            transform: scale(1);
            background-color: transparent;
          }
        }

        &.buttonPress {
          animation: pressAnimation 0.3s forwards;
        }
      }
    }

    .spaceButton {
      max-width: 300px;
      width: 100%;
      height: 50px;
      border: 1px solid var(--smoky-white-color);
      border-radius: 3px;
      outline: 0;
      background-color: transparent;
    }

  }
}