.keyboardContainer {
  margin: 0 auto;

  .keyboard {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    .spaceButton {
      max-width: 300px;
      width: 100%;
      height: 50px;
      border: 1px solid var(--smoky-white-color);
      border-radius: 3px;
      outline: 0;
      background-color: transparent;
    }

  }
}