.container {
  max-width: 50%;
  margin: 0 auto;
  position: relative;

  .text {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1.25;
    font-family: var(--main-font);
    color: var(--smoky-white-color);
    user-select: none;
  }

  .textArea {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    word-break: normal;
    line-height: 1.25;
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    user-select: none;
    resize: none;
    font-family: var(--main-font);
    color: var(--smoky-white-color);
  }

}