.container {
  max-width: 50%;
  margin: 0 auto;
  position: relative;

  .text {
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 1.25;
    font-family: var(--main-font);
    color: var(--smoky-white-color);
    user-select: none;

    .error {
      color: var(--smoky-red-color);
    }

    .true {
      color: var(--smoky-green-color);
    }

    .default {
      color: var(--smoky-white-color);
    }

    .markCurrent {
      background-color: #F5F5F595;
      border-radius: 2px;
    }
  }

  .textArea {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 1.25;
    position: absolute;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 25px;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
    opacity: 0;
    resize: none;
    font-family: var(--main-font);
    color: var(--smoky-white-color);

  }
}